@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.animation-delay-600 {
  animation-delay: 0.6s;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}

body {
  font-family: 'Inter', sans-serif;
}

.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.shadow-hover {
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-hover:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Hero Section */
.hero-background {
  background-image: url('/bg-img/24.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.nav-link {
  @apply text-white text-lg md:text-base font-medium hover:bg-green-500 py-2 px-4 rounded-md transition duration-300;
}

.nav-button {
  @apply bg-green-700 text-white text-lg md:text-base font-medium py-2 px-4 rounded-md hover:bg-green-600 transition duration-300;
}

/* Optional: Add some margin for better spacing  */
.nav-button:first-child{
  margin-right: 0.5rem;
}
